---
---
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Game Textures Sources - serand2048</title>
</head>

<body>
    {% include header.html %}
    <main>
        <h2>Запекание текстурных карт в одну текстуру</h2>
        <p>Объединение нескольких текстурных карт в одну, может пригодиться в старых игровых движках<br>
            (оригинальные посты на <a href="https://forum.mixmods.com.br/f34-tutoriais/t7677-iii-vc-sa-texture-bake-adicionando-detalhes-nas-te#p44661" target="_blank">форуме Mixmods</a><br>
            (и <a href="https://libertycity.ru/guides/how-to-make-mods/3027-uluchshenie-tekstur-s-pomoshhju-kart.html" target="_blank">LibertyCity</a>)<br>
            В настоящее время в играх используются «шейдер-карты» — текстуры, которые определяют, как шейдеры игры должны реагировать на данной поверхности. Эти шейдер-карты отвечают за освещение, отражения, выпуклости, впадины и т. д. — все то, что делает поверхность более реалистичной.<br>
            Как видно из приведенного ниже примера, текстура diffuse буквально не содержала никаких деталей, кроме цветов.<br>
            <img src="/images/articles/shader-maps/4upGC8N.png" alt="Сравнение текстур"><br>
            Как совместить все текстуры в одну:<br>
            1 вариант (на прмере Фотошопа):<br>
            Импортируйте текстуру diffuse в Photoshop, скопируйте этот слой и в режиме наложения выберите «color» (Цветность). Этот слой должен всегда находиться на самом верху.<br>
            Затем импортируйте normalmap, AO map и т. д., для всех выберите режим наложения «multiply» (Умножение), за исключением Height map — для него лучше подходит режим «soft light» (Мягкий свет).<br>
            <img src="/images/articles/shader-maps/zyQukcO.jpg" alt="Сравнение текстур"><br>
            Как видите, детали теперь «выделяются», вокруг изображения появилась полная тень — выглядит гораздо лучше.<br>
            2 вариант (более простой, на примере paint.net):<br>
            1. Открываем diffuse текстуру, создаём новый слой.<br>
            2. Вставляем в новый слой карту нормалей и делаем её чёрно-белой, при необходимости инвертируем цвета (смотрите сами, что лучше будет выглядеть).<br>
            3. Изменяем режим наложения в свойствах слоя на "Перекрытие" и объединяем слои.<br>
            4. Готово.
        </p>
    </main>
    {% include footer.html %}
</body>
</html>
