---
---
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>VCS Screenshots - serand2048</title>
</head>
<body>
    {% include header.html %}
        <div class="vcs-table" align="center">
            <table cellpadding="4" cellspacing="10" class="comparison-table">
                <tr> 
                    <th><h2>Before</h2></th>
                    <th><h2>After</h2></th>
                </tr>
                <tr>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00014.webp" width="640" height="360"></td>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00013.webp" width="640" height="360"></td>
                </tr>
                <tr>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00016.webp" width="640" height="360"></td>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00015.webp" width="640" height="360"></td>
                </tr>
                <tr>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00017.webp" width="640" height="360"></td>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00018.webp" width="640" height="360"></td>
                </tr>
                <tr>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00019.webp" width="640" height="360"></td>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00020.webp" width="640" height="360"></td>
                </tr>
                            <tr>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00021.webp" width="640" height="360"></td>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00022.webp" width="640" height="360"></td>
                </tr>
                <tr>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00023.webp" width="640" height="360"></td>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00024.webp" width="640" height="360"></td>
                </tr>
                <tr>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00025.webp" width="640" height="360"></td>
                    <td><img src="/images/projects/vcs-retex/ULUS10160_00026.webp" width="640" height="360"></td>
                </tr>
            </table>
        </div>
    {% include footer.html %}
</body>
</html>