---
---
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>403 - Access denied</title>
</head>
<body>
    {% include header.html %}
    <main>
        <div class="error-404">
            <h2>403</h2>
            <p>Доступ к этой странице запрещён.</p>
            <p>Access to this page is forbidden.</p>
            <a href="/index.html">Вернуться на главную / Return to home page</a>
        </div>
    </main>
    {% include footer.html %}
</body>
</html>
