<footer>
    <div class="footer-links">
        <a href="https://discord.gg/KewD97q2Fn"><img src="/images/links/discord-icon-svgrepo-com.png" alt="Discord"></a>
        <a href="https://github.com/serand2048"><img src="/images/links/Octicons-mark-github.svg.png" alt="Github"></a>
        <a href="https://www.donationalerts.com/r/serand2048"><img src="/images/links/DA_Alert_Color.png" alt="DonationAlerts"></a>
        <a href="https://boosty.to/serand2048"><img src="/images/links/Color.png" alt="Boosty"></a>
    </div>
    <div class="copyright">
        <script>
            const currentYear = new Date().getFullYear();
            document.write("Copyright © " + currentYear + " serand2048");
        </script>
    </div>
</footer>
