---
---
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Game Textures Sources - serand2048</title>
</head>

<body>
    {% include header.html %}
    <main>
        <h2>Текстуры из игр</h2>
        <p>Одно из моих хобби - искать исходники различных игровых текстур.<br>
            <a href="https://drive.google.com/drive/folders/1RfaWLA9gk0K4lhgeWBYJWul_eph2gpW5" target="_blank">Ссылка на текстуры из игр (Google Диск)</a><br>
            Если интересна эта движуха, рекомендую дискорд-сервер <a href="https://discord.gg/HG2hae3xBk" target="_blank">Mehaniq Gaming</a><br>
            <a href="https://www.google.com/maps/d/u/3/viewer?mid=1MW7KDcbO-y1gUg_QiIEjg0Xeu5dZa2s">Находки на гугл картах</a>, сделано вышеупомянутым Механиком<br>
            <a href="https://l1brary.neocities.org/">Ещё один полезный сайт с кучей всяких старых текстур-паков</a><br>
            (позже добавлю скриншоты с примерами, что в игре, что в исодниках / на картах)
        </p>
    </main>
    {% include footer.html %}
</body>
</html>
