---
---
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>GTA III Xbox Mod Redux - serand2048</title>
</head>
<body>
    {% include header.html %}
    <main class="mclass">
        <h2>GTA III Xbox Mod Redux</h2>
        <p>
            <div class="iii-xbox">
                Моя интерпретация Xbox Mod для GTA III. Пока не выкладывал в силу отсутствия желания доводить до ума.<br>
                Делал на базе <a href="https://www.mixmods.com.br/2021/06/iii-xbox-version-hd-versao-xbox-para-pc-em-hd/" target="_blank" >Modloader Repack от Jéssica Natália</a>, с некоторыми доработками от себя, плюс ремастер транспорта, оружия, педов и т.д<br>
                По сути это моя попытка доработать и без того отличный мод.<br>
            </div>
            Ссылки:
            <div class="iii-xbox-links">
                <table cellspacing="10">
                    <tr>
                        <td><a href="https://drive.google.com/file/d/14zF9t8s30f6wrK9qC6ZuWMrMk0P3JPhw/view?usp=sharing">Google Drive</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://sharemods.com/hfp223xaapi1/Xbox_Mod_Redux_05-08-26.7z.html">Sharemods</a></td>
                    </tr>
                    <tr>
                        <td><a href="/xbox-mod-iii/changelogs.html">changelogs</a></td>
                    </tr>
                    <tr>
                        <td><a href="/xbox-mod-iii/thirdparty.html">thirdparty</a></td>
                    </tr>
                </table>
            </div>
        </p>
    </main>
    {% include footer.html %}
</body>
</html>
