---
---
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Статьи - serand2048</title>
</head>
<body>
    {% include header.html %}
    <main>
        <h2>Статьи и посты на разные темы</h2>
        <div class="article-list">
            <div class="article-card">
                <h3>Запекание текстурных карт в одну текстуру</h3>
                <p>Объединение нескольких текстурных карт в одну, может пригодиться в старых игровых движках</p>
                <a href="/ru/articles/baking-texture-atlases.html" class="article-link">Подробнее</a>
            </div>
        </div>
    </main>
    {% include footer.html %}
</body>
</html>