---
---
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Проекты - serand2048</title>
</head>

<body>
    {% include header-ru.html %}
    <main>
        <h2>Мои проекты</h2>

        <div class="project-list">
            <div class="project-card">
                <h3>Текстуры из игр</h3>
                <p>Одно из моих хобби - искать исходники различных игровых текстур.<br>
                    Ссылка на текстуры (Google Диск): <a href="https://drive.google.com/drive/folders/1RfaWLA9gk0K4lhgeWBYJWul_eph2gpW5" target="_blank">Google Drive.</a><br>
                    Если интересна эта движуха, рекомендую дискорд-сервер <a href="https://discord.gg/HG2hae3xBk" target="_blank">Mehaniq Gaming</a>
                </p>
            </div>

            <div class="project-card">
                <h3>Название проекта 2</h3>
                <p>Короткое описание проекта: что это, на чём сделано, чем интересен.</p>
                <a href="#" class="project-link">Подробнее →</a>
            </div>

            <div class="project-card">
                <h3>Название проекта 3</h3>
                <p>Короткое описание проекта: что это, на чём сделано, чем интересен.</p>
                <a href="#" class="project-link">Подробнее →</a>
            </div>
        </div>
    </main>
    {% include footer.html %}
</body>
</html>
