---
---
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Проекты - serand2048</title>
</head>

<body>
    {% include header.html %}
    <main>
        <h2>Мои проекты</h2>

        <div class="project-list">
            <div class="project-card">
                <h3>Текстуры из игр</h3>
                <p>Одно из моих хобби - искать исходники различных игровых текстур.<br>
                    Ссылка на текстуры из игр (Google Диск): <a href="https://drive.google.com/drive/folders/1RfaWLA9gk0K4lhgeWBYJWul_eph2gpW5" target="_blank"></a><br>
                    Если интересна эта движуха, рекомендую дискорд-сервер <a href="https://discord.gg/HG2hae3xBk" target="_blank">Mehaniq Gaming</a>
                </p>
                <a href="/ru/projects/game-textures-sources.html" class="project-link">Подробнее →</a>
            </div>

            <div class="project-card">
                <h3>GTA III Xbox MoD Redux</h3>
                <p>Моя интерпретация Xbox Mod для GTA III. Пока не выкладывал в силу отсутствия желания доводить до ума.<br>
                    Делал на базе <a href="https://www.mixmods.com.br/2021/06/iii-xbox-version-hd-versao-xbox-para-pc-em-hd/" target="_blank">Modloader Repack от Jéssica Natália</a>, с некоторыми доработками от себя, плюс ремастер транспорта, оружия, педов и т.д
                </p>
                <a href="/ru/projects/gta-iii-xbox-mod-redux.html" class="project-link">(страница не создана) Подробнее →</a>
            </div>

            <div class="project-card">
                <h3>Manhunt 2 Updated Classic (beta)</h3>
                <p>Более-менее доведённая до ума версия Manhunt 2. Спасибо CageyPhoenix и 5do за возможность поучавствовать в разработке.<br>
                    Ссылка на дискорд-сервер UC: <a href="https://discord.gg/8ntxqkFzb3" target="_blank"></a>
                    Ссылка на скачивание: <a href="https://drive.google.com/drive/folders/11p9yrgy0uZcHzu_CV7kJ5radXk-FBXdZ" target="_blank">Google Drive</a>
                </p>
                <a href="/ru/projects/manhunt-2-updated-classic.html" class="project-link">(страница не создана) Подробнее →</a>
            </div>
        </div>
    </main>
    {% include footer.html %}
</body>
</html>
